:root {
    --font-family: "Poppins", sans-serif;
    --second-family: "Inter", sans-serif;
    --third-family: "Montserrat", sans-serif;
    --font3: "FontAwesome", sans-serif;
    --font4: "Roboto", sans-serif;
    --font5: "ProximaNova", sans-serif;
    --font6: "Asap Condensed", sans-serif;
}

html {
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
    padding: 0;
}

img {
    display: block;
}

a {
    text-decoration: none;
}

ul,
ol {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

body {
    font-family: var(--font-family);
    font-size: 16px;
    line-height: 1.5;
    background-color: #fff;
    color: #22343d;
    margin: 0;
    padding: 0;
}

body.no-scroll {
    /* Стиль для блокировки скролла */
    overflow: hidden;
}

.container {
    width: 1140px;
    margin: 0 auto;
    padding: 0 15px;
    box-sizing: border-box;
}

.flex-block {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Dark theme styles */
body.dark-theme {
    background-color: #1f2e35;
    color: #ffffff;
}

/* Header */

.header-block {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 145px;
    padding-left: 15px;
}

.header-block img {
    width: 39px;
    height: 36px;
    margin-right: 16px;
    margin-left: 15px;
}

.header-block .logo {
    font-weight: 700;
    font-size: 30px;
    line-height: 0.9;
    color: #173a56;
}

/* Dark theme styles */
body.dark-theme .header-block .logo {
    color: #fff;
}

.header-block nav {
    display: flex;
    align-items: center;
}

.header-block nav a {
    display: flex;
    align-items: center;
    color: inherit;
}

.nav-links li a {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.75;
}

.nav-links {
    display: flex;
    list-style: none;
    margin: 26px 0 26px 237px;
    gap: 30px;
    align-items: center;
}

.nav-links a.active {
    font-weight: 600;
    font-size: 16px;
    line-height: 1.75;
}

.header-buttons {
    display: flex;
    margin-left: 73px;
}

.header-buttons li + li {
    margin-left: 21px;
}

.header-buttons li button {
    width: 105px;
    height: 42px;
    border-radius: 4px;
    font-weight: 600;
    font-size: 16px;
    line-height: 1.5;
    border: 1px solid #bcd0e5;
    text-align: center;
    color: #173a56;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* Dark theme styles */
body.dark-theme .header-buttons li button {
    background-color: #1f2e35;
    color: #fff;
}

body.dark-theme .header-buttons li button:hover,
body.dark-theme .header-buttons li button:focus {
    background-color: #02897a;
    color: #fff;
    border: none;
}

.header-buttons li button:hover,
.header-buttons li button:focus {
    background-color: #02897a;
    color: #fff;
    border: none;
}

.dark-theme-link {
    display: flex;
    align-items: center;
    gap: 10px;
    border-radius: 100px;
    margin-top: 5px;
    width: 32px;
    height: 32px;
    background-color: #f3f3f3;
    padding: 4px;
}

.dark-theme-link a {
    display: flex;
    align-items: center;
    color: inherit;
}

.dark-theme-icon {
    width: 24px;
    height: 24px;
}

/* Hero Work at the speed of thought */

.hero-block {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 25px 145px 100px 145px;
}

.hero-text {
    margin-right: 35px;
    padding-top: 112px;
    padding-bottom: 112px;
    width: 465px;
}

.hero-image {
    width: 610px;
    height: auto;
}

.hero-links {
    display: flex;
    align-items: center;
    gap: 30px;
}

.hero-text h1 {
    margin-bottom: 18px;
    font-weight: 700;
    font-size: 40px;
    line-height: 1.5;
}

.hero-text p {
    margin-bottom: 45px;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.56;
}

.hero-links li {
    display: flex;
    align-items: center;
}

.hero-links a {
    display: flex;
    align-items: center;
    color: #02897a;
    font-weight: 600;
    font-size: 16px;
    text-decoration: underline;
}

.hero-links .icon {
    width: 16px;
    height: 18px;
    margin-right: 5px;
    fill: #02897a;
}

.hero-links button {
    width: 178px;
    height: 53px;
    border-radius: 4px;
    font-weight: 700;
    font-size: 16px;
    border: 1px solid #bcd0e5;
    text-align: center;
    color: #173a56;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* Dark theme styles */
body.dark-theme .hero-links button {
    background-color: #02897a;
    color: #fff;
}

body.dark-theme .hero-links button:hover,
body.dark-theme .hero-links button:focus {
    background-color: #1f2e35;
    color: #fff;
    border: 1px solid #bcd0e5;
}

.hero-links button:hover,
.hero-links button:focus {
    background-color: #02897a;
    color: #fff;
    border: none;
}

/* Product Features Product was Built Specifically for You */

.product-features-block {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    box-sizing: border-box;
}

/* Dark theme styles */

body.dark-theme .product-features-list-bg {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    background-image: url(../images/bg-produckt.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 389px;
    z-index: -1;
}

.product-features-text {
    margin-bottom: 50px;
}

.product-features-text h2 {
    font-weight: 500;
    font-size: 32px;
    line-height: 1.5;
    text-align: center;
}

.features-list {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-bottom: 50px;
}

.features-list h3 {
    font-weight: 600;
    font-size: 22px;
    line-height: 1.5;
    margin-bottom: 13px;
}

.features-list p {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.63;
    margin-bottom: 20px;
}

.features-list li {
    width: 255px;
    text-align: left;
}

.features-list img {
    border-radius: 19px;
    width: 54px;
    height: 54px;
    margin-bottom: 18px;
}

.product-features-button button {
    display: block;
    margin: 0 auto;
    margin-bottom: 50px;
    width: 175px;
    height: 53px;
    border-radius: 4px;
    font-weight: 700;
    font-size: 16px;
    color: #173a56;
    border: 1px solid #bcd0e5;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* Dark theme styles */
body.dark-theme .product-features-button button {
    background-color: #02897a;
    color: #fff;
}

body.dark-theme .product-features-button button:hover,
body.dark-theme .product-features-button button:focus {
    background-color: #1f2e35;
    color: #fff;
    border: 1px solid #bcd0e5;
}

.product-features-button button:hover,
.product-features-button button:focus {
    background-color: #026f5c;
    color: #fff;
    border: none;
}

/* Companies Join 100+ Companies who boost their business with Product */

.companies-product-block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 32px;
    width: 968px;
    height: 345px;
    background-color: #02897a;
    margin: 0 auto;
}

.companies-product-block .companies-product-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding-right: 10px;
}

.companies-product-block .companies-product-content h2 {
    font-weight: 600;
    font-size: 32px;
    line-height: 1.5;
    color: #fff;
    margin: 49px 0 46px 51px;
}

.companies-product-block .companies-product-content button {
    display: block;
    padding: 10px 34px;
    margin-left: 51px;
    margin-bottom: 56px;
    font-weight: 600;
    font-size: 20px;
    color: #02897a;
    background-color: #fff;
    border: none;
    border-radius: 8px;
    width: 150px;
    height: 50px;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.companies-product-block .companies-product-content button:hover,
.companies-product-block .companies-product-content button:focus {
    background-color: #025a4a;
    color: #fff;
    border: none;
}

.companies-product-block .companies-product-image {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    gap: 10px;
}

.companies-product-block .companies-product-image img {
    height: 331px;
}

/* Management section Effortless Validation for */

.manag-cust-collab-section {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 84px;
    margin: 0 145px 100px 145px;
}

.manag-cust-collab-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 486px;
}

.manag-cust-collab-image {
    width: 540px;
    height: auto;
}

.manag-cust-collab-section h3 {
    font-weight: 600;
    font-size: 16px;
    margin-bottom: 16px;
}

.manag-cust-collab-section h2 {
    font-weight: 700;
    font-size: 32px;
    margin-bottom: 25px;
}

.manag-cust-collab-section p {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.63;
    margin-bottom: 30px;
}

.customer-list p {
    display: flex;
    align-items: center;
}

.customer-icon {
    margin-right: 30px;
    width: 35px;
    height: 35px;
    flex-shrink: 0;
}

/* Contents Strategies */

.contents-strategies-block {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 0 145px 171px 145px;
}

.text-content {
    text-align: left;
}

.text-content h2 {
    font-weight: 700;
    font-size: 34px;
    margin-bottom: 10px;
}

.text-content p {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.63;
    margin-bottom: 40px;
}

.contents-strategies-list {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    width: 100%;
}

.contents-strategies-list li {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-right: 30px;
    border: 1px solid #dedede;
    border-radius: 8px;
    width: 350px;
    transition: border-color 0.3s ease, color 0.3s ease;
}

.contents-strategies-list li:last-child {
    margin-right: 0;
}

.contents-strategies-list li:hover,
.contents-strategies-list li:focus {
    border-color: #02897a;
}

.contents-strategies-list li img {
    max-width: 100%;
    height: auto;
    margin: 0 auto;
    border-radius: 8px 8px 0 0;
}

.contents-strategies-list li p {
    margin: 24px 0 12px 24px;
}

.contents-strategies-list li h3 {
    margin: 0 0 40px 27px;
    transition: color 0.3s ease;
}

.contents-strategies-list li:hover h3,
.contents-strategies-list li:focus h3 {
    color: #02897a;
}

/* Price Table*/

.price-table-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: 0 145px 100px 145px;
}

.price-table-header {
    text-align: center;
    margin-bottom: 10px;
}

.price-table-list {
    font-family: var(--third-family);
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 72px;
    width: 100%;
}

.price-table-item {
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.25);
    border-radius: 8px;
    width: 322px;
    height: 456px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    position: relative;
    transition: background 0.3s ease, color 0.3s ease;
}

/* Dark theme styles */
body.dark-theme .price-table-item {
    background-color: #fff;
    color: #1f2e35;
}

body.dark-theme .price-table-item:hover,
body.dark-theme .price-table-item:focus,
body.dark-theme .price-table-item.active {
    background-color: #02897a;
    color: #1f2e35;
}

.price-table-item h3,
.price-table-item p,
.price-table-item .price,
.price-table-item ul,
.price-table-item button,
.price-table-item .dollar-sign,
.price-table-item .amount {
    transition: color 0.3s ease;
}

.price-table-item:hover,
.price-table-item:focus,
.price-table-item.active {
    background: #02897a;
    color: #fff;
}

.price-table-item.active h3,
.price-table-item.active p,
.price-table-item.active .price,
.price-table-item.active ul,
.price-table-item.active button,
.price-table-item.active .dollar-sign,
.price-table-item.active .amount,
.price-table-item:hover h3,
.price-table-item:hover p,
.price-table-item:hover .price,
.price-table-item:hover ul,
.price-table-item:hover button,
.price-table-item:hover .dollar-sign,
.price-table-item:hover .amount,
.price-table-item:focus h3,
.price-table-item:focus p,
.price-table-item:focus .price,
.price-table-item:focus ul,
.price-table-item:focus button,
.price-table-item:focus .dollar-sign,
.price-table-item:focus .amount {
    color: #fff;
}

.price-table-item.active button,
.price-table-item:hover button,
.price-table-item:focus button {
    background-color: #fff;
    color: #02897a;
}

.price-table-item:last-child {
    margin-right: 0;
}

.price-table-item h3 {
    font-weight: 700;
    font-size: 24px;
    line-height: 1.67;
    margin: 32px 0 8px 0;
}

.price-table-item p {
    margin-bottom: 16px;
}

.price-table-item .price {
    position: relative;
    width: 100%;
    height: 100px;
    margin-bottom: 16px;
}

.price-table-item .amount,
.price-table-item .dollar-sign,
.price-table-item .per-month {
    position: absolute;
    left: 84px;
    top: 0;
}

.price-table-list li:last-child .amount {
    left: calc(84px - 27px);
}

.price-table-item .amount {
    font-weight: 700;
    font-size: 76px;
    line-height: 1.32;
    letter-spacing: 0em;
    text-align: center;
    color: #02897a;
}

.price-table-item .dollar-sign {
    font-weight: 700;
    font-size: 24px;
    line-height: 1.25;
    letter-spacing: 0em;
    color: #02897a;
    top: 18px;
    left: 140px;
}

.price-table-item .per-month {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.1875;
    letter-spacing: 0.01em;
    color: #afafaf;
    top: 57px;
    left: 140px;
}

.price-table-item ul li {
    margin-bottom: 16px;
}

.price-table-item ul li:last-child {
    margin-bottom: 30px;
}

.price-table-item button {
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    background-color: #02897a;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background 0.3s ease;
}

.price-table-item button:hover,
.price-table-item button:focus {
    background-color: #fff;
    color: #02897a;
}

/* What Clients Say */

.what-clients-say-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100%;
    margin: 0 145px 100px 145px;
}

.what-clients-say-block h2 {
    font-weight: 700;
    font-size: 32px;
    line-height: 1.78;
    letter-spacing: 0.01em;
    margin-bottom: 10px;
}

.what-clients-say-block p {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.75;
    letter-spacing: 0.01em;
    text-align: center;
    margin-bottom: 20px;
    margin-left: 286px;
    margin-right: 286px;
}

/* Clients Say List */
.clients-say-list {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    list-style: none;
    padding: 0;
    gap: 30px;
    width: 100%;
    margin: 0 auto;
}

/* Client Say Item */
.client-say-item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border: 1px solid #dedede;
    border-radius: 5px;
    width: 327px;
    height: 240px;
    text-align: left;
}

/* Dark theme styles */
body.dark-theme .client-say-item {
    background-color: #fff;
    color: #1f2e35;
}

.client-say-item .quote-icon {
    margin: 28px 0 16px 26px;
}

.client-say-item p {
    margin: 0 0 17px 26px;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.75;
    letter-spacing: 0.01em;
    color: #737373;
    text-align: left;
}

.client-say-item .client-info {
    display: flex;
    align-items: center;
    margin: 0 0 28px 26px;
}

.client-say-item .client-photo {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.client-say-item .client-name {
    font-weight: bold;
}

.client-say-item .client-details {
    display: flex;
    flex-direction: column;
    margin: 0 0 0 14px;
}

.client-say-item .client-details h4 {
    font-weight: 600;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.01em;
    color: #02897a;
}

.client-say-item .client-details p {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.01em;
    color: #252b42;
    margin: 0;
}

/* Quick & Easy Process */

.quick-easy-process {
    text-align: center;
    margin: 0 97px 100px 97px;
}

.quick-easy-process h2 {
    font-weight: 700;
    font-size: 32px;
    text-align: center;
    margin-bottom: 25px;
}

.quick-easy-process p {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.625;
    text-align: center;
    margin-bottom: 40px;
}

.service-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.service-list li {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.service-list li p {
    margin: 0 auto;
    padding: 10px 20px;
    border: 1px solid #dedede;
    border-radius: 50px;
    font-weight: 500;
    font-size: 16px;
    text-align: center;
    color: #2f281e;
    box-shadow: 2px 2px 10px 0 rgba(23, 58, 86, 0.15);
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Dark theme styles */
body.dark-theme .service-list li p {
    color: #2f281e;
    background-color: #fff;
}

.service-list li img {
    width: 98px;
    height: auto;
}

.service-list li:first-child p,
.service-list li:last-child p {
    margin-left: 20px;
    padding-left: 20px;
}

.service-list li:nth-child(2) p,
.service-list li:nth-child(3) p {
    margin-right: 20px;
    padding-right: 20px;
}

.service-list li.reverse {
    flex-direction: row-reverse;
}

.service-list li.text-left {
    flex-direction: row;
}

.contact-button {
    display: block;
    width: 216px;
    height: 53px;
    margin: 20px auto;
    padding: 10px 20px;
    font-weight: 700;
    font-size: 16px;
    border: 1px solid #bcd0e5;
    border-radius: 4px;
    text-align: center;
    color: #173a56;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* Dark theme styles */
body.dark-theme .contact-button {
    background-color: #02897a;
    color: #fff;
}

body.dark-theme .contact-button:hover,
body.dark-theme .contact-button:focus {
    background-color: #1f2e35;
    color: #fff;
    border: 1px solid #bcd0e5;
}

.contact-button:hover,
.contact-button:focus {
    background-color: #026f5c;
    color: #fff;
}

/* Footer */

.footer-column-block {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0 145px;
    margin-top: 100px;
}

.footer-logo .logo {
    display: flex;
    align-items: center;
    margin-right: 146px;
    font-weight: 700;
    font-size: 30px;
    line-height: 0.9;
    color: #173a56;
}

/* Dark theme styles */
body.dark-theme .footer-logo .logo {
    color: #fff;
}

.footer-logo .logo img {
    width: 39px;
    height: 36px;
    padding: 0;
    margin-right: 16px;
}

.footer-nav {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.footer-social-list {
    display: flex;
    gap: 16px;
    margin-top: 18px;
}

.social-link {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    background-color: #edfffc;
    border-radius: 50%;
    text-decoration: none;
}

.footer-links {
    display: flex;
    flex-direction: column;
}

.footer-links a {
    font-weight: 400;
    font-size: 16px;
    line-height: 2.19;
    color: inherit;
}

.footer-column-resource {
    margin-right: 129px;
}

.footer-column-legal {
    margin-right: 83px;
    white-space: nowrap;
}

.footer-copyright {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 40px;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.88;
}

.footer-nav h3 {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.5;
    margin-bottom: 8px;
}

.input-block-container {
    position: relative;
}

/* Dark theme styles */
body.dark-theme .input-block-container input {
    background-color: #fff;
    color: #1f2e35;
}

body.dark-theme .input-block-container button {
    background-color: #02897a;
    color: #fff;
}

body.dark-theme .input-block-container button:hover,
body.dark-theme .input-block-container button:focus {
    background-color: #1f2e35;
    color: #fff;
    border: 1px solid #bcd0e5;
}

.contact-form-input {
    border: 1px solid #bcd0e5;
    border-radius: 4px;
    width: 325px;
    height: 48px;
    margin-top: 22px;
    background-color: transparent;
    padding: 0 43px 0 42px;
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-form-input::placeholder {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.75;
    color: #02897a;
}

.contact-form-icon {
    position: absolute;
    left: 12px;
    top: 35%;
    transform: translateY(-50%);
}

.contact-form-input:focus,
.contact-form-input:hover {
    border-color: #02897a;
}

.footer-column-signup button {
    width: 131px;
    height: 39px;
    border-radius: 4px;
    font-weight: 700;
    font-size: 16px;
    border: 1px solid #bcd0e5;
    text-align: center;
    color: #173a56;
    margin-top: 25px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-column-signup button:hover,
.footer-column-signup button:focus {
    background-color: #02897a;
    color: #fff;
    border: none;
}

/* Styles for pricing page */
/* Price Table*/

.pricing-page .price-table-header h1 {
    font-weight: 600;
    font-size: 24px;
    margin-bottom: 32px;
    margin-top: 50px;
    text-align: center;
}

.pricing-page .price-table-section {
    margin-bottom: 150px;
}

.pricing-page .price-table-header h2 {
    font-weight: 700;
    font-size: 40px;
    text-align: center;
    margin-bottom: 16px;
}

.pricing-page .price-table-header p {
    font-weight: 500;
    font-size: 16px;
    text-align: center;
    margin-bottom: 49px;
}

/*  ENTERPRISE PLAN */

.pricing-page .enterprise .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 294px;
}

.enterprise-plan h3 {
    font-weight: 600;
    font-size: 24px;
    margin-bottom: 16px;
}

.enterprise-plan h2 {
    font-weight: 700;
    font-size: 34px;
    margin-bottom: 8px;
}

.enterprise-plan p {
    font-weight: 400;
    font-size: 18px;
    margin-bottom: 32px;
}

.enterprise-plan button {
    font-family: var(--third-family);
    border-radius: 8px;
    width: 224px;
    height: 44px;
    font-weight: 600;
    font-size: 18px;
    border: 1px solid #bcd0e5;
    border-radius: 4px;
    text-align: center;
    color: #173a56;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.enterprise-plan button:hover,
.enterprise-plan button:focus {
    background-color: #02897a;
    color: #fff;
    border: none;
}

/* Product is being used */

.product-alongside-block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin: 0 114px 6px 155px;
}

.product-alongside-block h2 {
    font-weight: 700;
    font-size: 34px;
    margin-bottom: 56px;
}

.alongside-content-block {
    display: flex;
    align-items: flex-start;
}

.main-alongside-image {
    width: 528px;
    height: auto;
    margin-right: 60px;
    margin-top: 24px;
}

.product-alongside-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 543px;
    height: auto;
}

.product-alongside-item {
    display: flex;
    flex-direction: column;
    margin-bottom: 32px;
}

.product-alongside-block .image-and-title {
    display: flex;
    align-items: center;
    margin-bottom: 16px;
    font-weight: 600;
    font-size: 24px;
}

.product-alongside-block .alongside-image {
    width: 50px;
    height: auto;
    margin-right: 10px;
}

.product-alongside-block .alongside-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.75;
    margin: 0;
    text-align: left;
}

/* Frequently asked question */

.faq-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 240px 150px 240px;
}

.faq-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 0 180px 50px 180px;
}

.faq-header h2 {
    font-weight: 700;
    font-size: 34px;
    margin-bottom: 8px;
}

.faq-header p {
    font-weight: 400;
    font-size: 18px;
    white-space: nowrap;
}

.faq-content {
    width: 100%;
}
.faq-list {
    width: 100%;
}

.faq-list li {
    margin-bottom: 16px;
    padding: 22px;
}

.faq-list h4 {
    display: flex;
    align-items: center;
    cursor: pointer;
    margin: 0;
    font-weight: 700;
    font-size: 18px;
}

.faq-list p {
    display: none;
    margin: 14px 0 0 0;
    font-weight: 400;
    font-size: 16px;
}

.faq-list h4 .faq-icon {
    margin-right: 10px;
    transition: transform 0.3s ease;
}

/* Customer Support */

/* Our clients block*/

.our-clients-content {
    text-align: center;
    width: 100%;
    margin: 100px 275px 117px 275px;
}

.our-clients-content h1 {
    font-weight: 700;
    font-size: 40px;
    margin-bottom: 50px;
}

.our-clients-list {
    display: flex;
    justify-content: center;
    gap: 64px;
}

/* Choose product block */

.choose-product-content {
    text-align: center;
    margin: 0 145px 101px 145px;
    width: 100%;
}

.choose-product-content h2 {
    font-weight: 700;
    font-size: 34px;
    text-align: center;
    margin-bottom: 50px;
}

.choose-product-list {
    display: flex;
    justify-content: center;
    gap: 30px;
    list-style: none;
    margin-bottom: 68px;
}

.choose-product-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border: 1px solid #dedede;
    border-radius: 10px;
    width: 350px;
    height: 305px;
}

.choose-product-item img {
    margin-bottom: 32px;
    margin-top: 32px;
}

.choose-product-item h3 {
    font-weight: 700;
    font-size: 24px;
    line-height: 1.38;
    letter-spacing: 0em;
    text-align: center;
    margin-bottom: 16px;
    white-space: nowrap;
}

.choose-product-item p {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.69;
    letter-spacing: 0.01em;
    text-align: center;
    margin-bottom: 100px;
    margin-left: 38px;
    margin-right: 37px;
}

/* How Product Work? */

.how-product-work-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 187px 115px 187px;
}

.how-product-work-title {
    text-align: center;
    font-weight: 700;
    font-size: 34px;
    margin-bottom: 73px;
}

.how-product-work-list {
    max-width: 100%;
}

.how-product-work-item {
    display: flex;
    align-items: center;
    max-width: 100%;
}

.how-product-work-item h4 {
    font-weight: 500;
    font-size: 20px;
    margin-bottom: 16px;
}

.how-product-work-item h3 {
    font-weight: 600;
    font-size: 24px;
    margin-bottom: 16px;
}

.how-product-work-item p {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.75;
}

.how-product-work-item:nth-child(1),
.how-product-work-item:nth-child(2) {
    margin-bottom: 100px;
}

.how-product-work-item:nth-child(3) {
    margin-bottom: 77px;
}

.how-product-work-item:nth-child(odd) {
    flex-direction: row;
}

.how-product-work-item:nth-child(even) {
    flex-direction: row-reverse;
}

.how-product-work-image {
    width: 500px;
    height: auto;
    margin-right: 89px;
}

.how-product-work-item:nth-child(even) .how-product-work-image {
    margin-right: 0;
    margin-left: 20px;
}

.how-product-work-text {
    width: 438px;
    height: auto;
    flex: 1;
}

.how-product-work-content button {
    font-family: var(--third-family);
    display: block;
    width: 216px;
    height: 53px;
    margin: 20px auto;
    padding: 10px 20px;
    font-weight: 700;
    font-size: 16px;
    border: 1px solid #bcd0e5;
    border-radius: 4px;
    text-align: center;
    color: #173a56;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.how-product-work-content button:hover,
.how-product-work-content button:focus {
    background-color: #026f5c;
    color: #fff;
}

/* Join thousand of other who have */

.received-offers-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: 0 145px 150px 145px;
}

.received-offers-content h2 {
    font-weight: 700;
    font-size: 32px;
    text-align: center;
    margin-bottom: 137px;
}

.received-offers-list {
    display: flex;
    justify-content: center;
    gap: 50%;
}

.received-offers-list img {
    width: 61px;
    height: auto;
    margin-bottom: 72px;
}

.received-offers-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.received-offers-item h3 {
    font-weight: 500;
    font-size: 24px;
    line-height: 1.167;
    margin-bottom: 16px;
}

.received-offers-item a {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.75;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: inherit;
}

.received-offers-list-item {
    font-weight: 400;
    font-size: 18px;
    line-height: 1.78;
    margin-bottom: 12px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* Resources Page */

.hero-resources-block {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 76px 133px 67px 145px;
}

.hero-resources-block .highlight {
    font-weight: 500;
    color: #02897a;
}

.hero-resources-text {
    padding-left: 15px;
    width: 610px;
}

.hero-resources-image-container img {
    width: 541px;
    height: auto;
}

.hero-resources h1 {
    font-weight: 600;
    font-size: 40px;
    line-height: 1.49;
    letter-spacing: -0.03em;
    margin-bottom: 24px;
}

.hero-resources p {
    font-weight: 400;
    font-size: 20px;
    line-height: 1.6;
    letter-spacing: -0.03em;
    margin-bottom: 24px;
}

.hero-resources-list li {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.hero-resources-list li:first-child {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 469px;
    border: 1px solid #eaeaea;
    border-radius: 100px;
    margin-bottom: 24px;
}

.hero-resources-list li:nth-child(2) {
    justify-content: flex-start;
    text-align: left;
}

.hero-resources-list li:nth-child(2) img {
    margin-right: 9px;
    width: 125px;
    height: auto;
}

.hero-resources-list li:nth-child(2) a {
    font-weight: 400;
    font-size: 14px;
    color: inherit;
}

.hero-resources-list button {
    border-radius: 100px;
    margin: 8px;
    width: 117px;
    height: 50px;
    font-weight: 600;
    font-size: 16px;
    border: 1px solid #bcd0e5;
    text-align: center;
    color: #173a56;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-resources-list button:hover,
.hero-resources-list button:focus {
    background-color: #02897a;
    color: #fff;
    border: none;
}

.hero-resources-list input[type="email"] {
    font-weight: 400;
    font-size: 16px;
    line-height: 1;
    letter-spacing: -0.03em;
    border: none;
    margin-left: 27px;
}

/* Latest Stories */

.latest-stories-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    margin-bottom: 150px;
}

.latest-stories-block h2 {
    font-weight: 700;
    font-size: 34px;
    margin-bottom: 8px;
}

.latest-stories-block p {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.625;
    margin-bottom: 32px;
}

.latest-stories-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.latest-stories-list li {
    width: 348px;
    margin-right: 32px;
    box-sizing: border-box;
    text-align: left;
}

.latest-stories-list li:nth-child(3n) {
    margin-right: 0;
}

.latest-stories-list img {
    margin-bottom: 22px;
}

.latest-stories-list p {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.75;
    margin-bottom: 12px;
    margin-left: 24px;
}

.latest-stories-list h3 {
    font-weight: 700;
    font-size: 24px;
    line-height: 1.57;
    margin-bottom: 72px;
    margin-left: 24px;
}

.latest-stories-block a {
    font-weight: 500;
    font-size: 18px;
    line-height: 1.44;
    display: inline-flex;
    align-items: center;
    color: inherit;
}

.latest-stories-block a img {
    margin-left: 8px;
}

/* Contact Us */

.contact-us-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 0 265px 100px 265px;
}

.contact-us-block h2 {
    font-weight: 700;
    font-size: 34px;
    line-height: 1.68;
    letter-spacing: 0.01em;
    margin-bottom: 17px;
}

.contact-us-block p {
    font-weight: 500;
    font-size: 18px;
    line-height: 1.56;
    letter-spacing: 0.01em;
    margin-bottom: 65px;
}

.contact-us-block img {
    width: 871px;
    height: auto;
    margin-bottom: 60px;
}

.contact-us-block h3 {
    font-weight: 700;
    font-size: 24px;
    line-height: 1.375;
    letter-spacing: 0em;
    margin-bottom: 16px;
}

.contact-us-block .footer-social-list {
    margin-top: 0;
    margin-bottom: 56px;
}

.contact-us-block .contact-form {
    display: flex;
    flex-direction: column;
    align-items: left;
    gap: 45px;
    border: 1px solid #ddd;
    border-radius: 20px;
    padding: 52px 50px;
    width: 868px;
    height: 670px;
}

.contact-form form {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.contact-us-block .contact-form input {
    font-family: var(--font4);
    border: 1px solid #e8e8e8;
    border-radius: 39px;
    padding: 19px 20px;
    margin-bottom: 45px;
    width: 768px;
    height: 54px;
    background: #f5f5f5;
    font-weight: 400;
    font-size: 15px;
    line-height: 1.06667;
    letter-spacing: 0.01em;
}

.contact-us-block .contact-form textarea {
    font-family: var(--font4);
    border: 1px solid #e8e8e8;
    padding: 23px 20px;
    width: 728px;
    height: 147px;
    margin-bottom: 45px;
    background: #f5f5f5;
    font-weight: 400;
    font-size: 15px;
    line-height: 1.1;
    letter-spacing: 0.01em;
    resize: none;
}

.contact-us-block .contact-form button {
    font-family: var(--font4);
    align-self: flex-start;
    border-radius: 35px;
    padding: 18px 38px;
    width: 145px;
    height: 52px;
    font-weight: 700;
    font-size: 16px;
    border: 1px solid #bcd0e5;
    text-align: center;
    color: #173a56;
    margin-top: 25px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-us-block .contact-form button:hover {
    background-color: #02897a;
    color: #fff;
    border: none;
}
