:root {
    --font-family: "Poppins", sans-serif;
    --second-family: "Inter", sans-serif;
    --third-family: "Montserrat", sans-serif;
    --font3: "FontAwesome", sans-serif;
    --font4: "Roboto", sans-serif;
    --font5: "ProximaNova", sans-serif;
    --font6: "Asap Condensed", sans-serif;
}

html {
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
    padding: 0;
}

img {
    display: block;
}

a {
    text-decoration: none;
}

ul,
ol {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

body {
    font-family: var(--font-family);
    font-size: 16px;
    line-height: 1.5;
    background-color: #fff;
    color: #22343d;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 15px;
}

.flex-block {
    display: flex;
}

/* Header */

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header img {
    width: 39px;
    height: 36px;
    margin: 22px 16px 22px 146px;
}

.logo {
    font-weight: 700;
    font-size: 30px;
    line-height: 0.9;
    color: #173a56;
}

nav {
    display: flex;
    align-items: center;
}

nav a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: inherit;
}

nav ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav-links li:first-child a {
    font-weight: 600;
    font-size: 16px;
    line-height: 1.75;
}

.nav-links {
    display: flex;
    list-style: none;
    margin: 26px 0 26px 237px;
    padding: 0;
    gap: 30px;
    align-items: center;
}

.header-buttons {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 19px 148px 19px 73px;
}

.header-buttons li + li {
    margin-left: 21px;
    margin-right: 148px;
}

.header-buttons li button {
    width: 105px;
    height: 42px;
    border-radius: 4px;
    font-weight: 600;
    font-size: 16px;
    line-height: 1.5;
    border: 1px solid #bcd0e5;
    text-align: center;
    color: #173a56;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-buttons li button:hover,
.header-buttons li button:focus {
    background-color: #02897a;
    color: #fff;
    border: none;
}

/* Hero Work at the speed of thought */

.hero {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0;
    margin: 25px 145px 100px 145px;
}

.hero-text {
    margin-right: 35px;
    padding-top: 112px;
    padding-bottom: 112px;
    max-width: 465px;
}

.hero-image {
    width: 610px;
    height: 555px;
}

.hero-links {
    display: flex;
    align-items: center;
    gap: 30px;
    list-style: none;
    padding: 0;
}

.hero-text h1 {
    margin-bottom: 18px;
    font-weight: 700;
    font-size: 40px;
    line-height: 1.5;
}

.hero-text p {
    margin-bottom: 45px;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.56;
}

.hero-links li {
    display: flex;
    align-items: center;
}

.hero-links a {
    display: flex;
    align-items: center;
    color: #02897a;
    font-weight: 600;
    font-size: 16px;
    text-decoration: underline;
}

.hero-links .icon {
    width: 16px;
    height: 18px;
    margin-right: 5px;
    fill: #02897a;
}

.hero-links button {
    width: 178px;
    height: 53px;
    border-radius: 4px;
    font-weight: 700;
    font-size: 16px;
    border: 1px solid #bcd0e5;
    text-align: center;
    color: #173a56;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-links button:hover,
.hero-links button:focus {
    background-color: #02897a;
    color: #fff;
    border: none;
}

/* Product Features Product was Built Specifically for You */

.product-features-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 50px;
    margin-bottom: 50px;
}

.product-features-block h3 {
    font-weight: 600;
    font-size: 22px;
    line-height: 1.5;
}

.product-features-text {
    margin-bottom: 50px;
    font-weight: 500;
    font-size: 32px;
    line-height: 1.5;
    text-align: center;
}

.features-list {
    display: flex;
    justify-content: center;
    gap: 30px;
    list-style: none;
    padding: 0;
    margin: 0;
    flex-wrap: nowrap;
    margin-left: 145px;
    margin-right: 145px;
    margin-bottom: 50px;
}

.features-list li {
    max-width: 255px;
    text-align: left;
}

.features-list img {
    border-radius: 19px;
    width: 54px;
    height: 54px;
}

.product-features-button button {
    display: block;
    margin: 0 auto;
    width: 175px;
    height: 53px;
    border-radius: 4px;
    font-weight: 700;
    font-size: 16px;
    color: #fff;
    background-color: #02897a;
    border: 1px solid #bcd0e5;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.product-features-button button:hover,
.product-features-button button:focus {
    background-color: #026f5c;
}

/* Companies Join 100+ Companies who boost their business with Product */

.companies-product-block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 32px;
    width: 968px;
    height: 345px;
    background-color: #02897a;
    margin: 0 auto;
}

.companies-product-block .companies-product-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding-right: 10px;
}

.companies-product-block .companies-product-content h2 {
    font-weight: 600;
    font-size: 32px;
    line-height: 1.5;
    color: #fff;
    margin: 49px 0 46px 51px;
}

.companies-product-block .companies-product-content button {
    display: block;
    padding: 10px 34px;
    margin-left: 51px;
    margin-bottom: 56px;
    font-weight: 600;
    font-size: 20px;
    color: #02897a;
    background-color: #fff;
    border: none;
    border-radius: 8px;
    width: 150px;
    height: 50px;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.companies-product-block .companies-product-content button:hover,
.companies-product-block .companies-product-content button:focus {
    background-color: #025a4a;
    color: #fff;
}

.companies-product-block .companies-product-image {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    gap: 10px;
}

.companies-product-block .companies-product-image img {
    border-radius: 5px;
    height: 331px;
    box-shadow: 0 0 32px 0 rgba(0, 0, 0, 0.15);
}

/* Management section Effortless Validation for */

.section {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin: 0 145px 100px 145px;
}

.section-content {
    flex: 1;
}

.section-content h3 {
    margin-bottom: 8px;
}

.section-content h2 {
    margin-bottom: 25px;
}

.section-content p {
    margin-bottom: 30px;
}

.section-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.section-list li {
    margin-bottom: 25px;
}

.section-list h3 {
    margin-bottom: 12px;
}

.section-list p {
    margin: 0;
}

.section-image {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section-image img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
}

/* Specific styles */
.management-content {
    margin-right: 20px;
}

.customer-support-image {
    margin-right: 84px;
}

.customer-list p {
    display: flex;
    align-items: center;
    margin: 0;
}

.customer-icon {
    margin-right: 30px;
    width: 35px;
    height: 35px;
    flex-shrink: 0;
}

/* Quick & Easy Process */

.quick-easy-process {
    text-align: center;
    width: 916px;
    margin: 0 auto;
}

.quick-easy-process h2,
.quick-easy-process p {
    margin-bottom: 20px; /* Adjust spacing as needed */
}

.service-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    padding: 0;
    margin: 20px 0; /* Adjust spacing as needed */
}

.service-list li {
    display: flex;
    align-items: center;
    width: 45%; /* Adjust width as needed */
    margin-bottom: 20px; /* Adjust spacing as needed */
}

.service-list li img {
    width: 100px; /* Adjust image size as needed */
    height: auto;
    margin-left: 10px; /* Adjust spacing as needed */
}

.service-list li p {
    margin: 0;
}

.service-list li.reverse {
    flex-direction: row-reverse;
}

.service-list li.reverse img {
    margin-right: 0;
    margin-left: 10px; /* Adjust spacing as needed */
}

.service-list li.text-left {
    flex-direction: row;
}

.service-list li.text-left img {
    margin-left: 0;
    margin-right: 20px; /* Adjust spacing as needed */
}

.contact-button {
    display: block;
    width: 216px;
    height: 53px;
    margin: 20px auto; /* Center the button and adjust spacing as needed */
    padding: 10px 20px; /* Adjust padding as needed */
    font-weight: 700;
    font-size: 16px;
    color: #fff;
    background-color: #02897a; /* Adjust background color as needed */
    border: none;
    border-radius: 4px; /* Adjust border radius as needed */
    cursor: pointer;
}

.contact-button:hover,
.contact-button:focus {
    background-color: #026f5c; /* Adjust hover background color as needed */
}

/* Footer */

.footer-column-block {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0 145px;
    margin-top: 100px;
}

.footer-logo .logo {
    margin-right: 146px;
}

.footer-logo .logo img {
    width: 39px;
    height: 36px;
    padding: 0;
    margin-right: 16px;
}

.footer-nav {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 0;
}

.footer-social-list {
    display: flex;
    gap: 16px;
    margin-top: 18px;
}

.social-link {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    background-color: #edfffc;
    border-radius: 50%;
    text-decoration: none;
}

.footer-links {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.footer-column-resource {
    margin-right: 129px;
}

.footer-column-legal {
    margin-right: 83px;
    white-space: nowrap;
}

.footer-copyright {
    margin-top: 10px;
    margin-bottom: 40px;
    margin-left: 350px;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.88;
}

.footer-nav h3 {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.5;
    margin-bottom: 8px;
}

.input-block-container {
    position: relative;
}

.contact-form-input {
    border: 1px solid #bcd0e5;
    border-radius: 4px;
    width: 325px;
    height: 48px;
    margin-top: 22px;
    background-color: transparent;
    padding: 0 43px 0 42px;
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-form-input::placeholder {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.75;
    color: #02897a;
}

.contact-form-icon {
    position: absolute;
    left: 12px;
    top: 35%;
    transform: translateY(-50%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-form-input:focus,
.contact-form-input:hover {
    border-color: #02897a;
}

.footer-column-signup button {
    width: 131px;
    height: 39px;
    border-radius: 4px;
    font-weight: 700;
    font-size: 16px;
    border: 1px solid #bcd0e5;
    text-align: center;
    color: #173a56;
    margin-top: 25px;
    padding: 0;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-column-signup button:hover,
.footer-column-signup button:focus {
    background-color: #02897a;
    color: #fff;
    border: none;
}
